src/org/holtz/fibonacci/resource/fibonacci.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
<xs:element name="fibonacci" type="fibonacciBean"/>
<xs:complexType name="fibonacciBean">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="sequence" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
